<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [ ]:
print("Hello, my name is daniel");
name = "daniel";
print("Hello, my name is", name);
print("Hello, my name is " + name);
print("Hello, my name is {}".format(name))

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [ ]:
a = (4*15)/12
print("a.", a);
b = 8**(1/3)
print("b.", b);
c1 = int(50000/7500)
c2 = c1*100
c3 = 50000-(7500*c1)
print("c. kertas binder yang dapat dibeli ella adalah", c2 ,", kembalian yang diterima ella adalah Rp.",c3)

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [ ]:
a ="1000"
a =int(a)
print("a.",a,"<class 'int'>")
b =5.25
b =int(b)
print("b.",b,"<class 'int'>")
c =5
c =float(c)
print("c.",c,"<class 'float'>")
d =1000
d =str(d)
print("d.",d,"<class 'str'>")

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [ ]:
kata ="If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
a =kata[20:31]
print("a.",a)
b =kata.split()
print("b.",b)
c =kata[::-1]
print("c.",c)

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [ ]:
prodi = ("IBM", "IMT", "ACC", "ISB", "BMI", "HTB", "CB")
print("1.", prodi)
print("2.", len(prodi))
print("3.",prodi.index("ISB"))

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [ ]:
print("1.")
favorit = ["nasi", "mie", "jagung"]
print(favorit)
print("2.")
print(favorit[0])
print(favorit[1])
print(favorit[2])
print("3.")
for makanan in favorit:
    print("Aku ingin pesan",makanan)
print("4.")
del favorit[2]
print(favorit)
favorit.insert(2, "rusa")
print(favorit)

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}
a= set1|set2
print(a)

b=set2 & set3
b=len(b) == 0
print(b)

c = set4 <= set1 
print(c)

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [ ]:
# Meminta input dari pengguna
penggunaan_kwh = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

# Menentukan tarif dan total pembayaran
if penggunaan_kwh < 100:
    penggunaan_kwh = 100  # Minimum pembayaran adalah 100 kWh
    tarif_per_kwh = 1000
elif penggunaan_kwh < 1000:
    tarif_per_kwh = 1000
else:
    tarif_per_kwh = 2000

# Menghitung total pembayaran
total_pembayaran = penggunaan_kwh * tarif_per_kwh

# Jika penggunaan >= 1000 kWh, tambahkan 10% dari total pembayaran
if penggunaan_kwh >= 1000:
    total_pembayaran *= 1.1

# Menampilkan hasil
print(f"Total pembayaran untuk {penggunaan_kwh} kWh adalah: Rp {total_pembayaran:.2f}")

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [ ]:
# Meminta input dari pengguna
jumlah_peserta = int(input("Masukkan jumlah peserta: "))

# Memeriksa apakah jumlah peserta negatif
if jumlah_peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
else:
    # Kapasitas angkot
    kapasitas_angkot = 10

    # Menghitung jumlah angkot yang diperlukan
    if jumlah_peserta == 0:
        jumlah_angkot = 0  # Tidak perlu angkot jika tidak ada peserta
    else:
        jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot > 0 else 0)

    # Menampilkan hasil
    print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [ ]:
# 1
import numpy as np

# 1. Membuat 1D numpy array berisi nama-nama hari dalam satu minggu
hari = np.array([ "Kamis", "Jumat", "Minggu", "Rabu", "Sabtu", "Selasa", "Senin"])
print(hari)

In [ ]:
# 2
# Mengurutkan array sesuai abjad
hari_sorted = np.sort(hari)
print(hari_sorted)

In [ ]:
import random
# 3
# Mengambil 1 hari secara acak
hari_acak = np.random.choice(hari_sorted)

# Mencetak hasil
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

In [ ]:
# 4
#  Membuat matriks 3x4 berisi angka 1-6
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

# Mencetak shape dan dimensi array
print("Shape dari matriks:", matriks.shape)
print("Dimensi dari matriks:", matriks.ndim)

In [ ]:
# 5
#  Mencetak elemen kolom ketiga dari matriks
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

In [ ]:
# 6
#  Menggunakan reshape untuk mengubah matriks menjadi ukuran (2, 6)
matriks_reshape = matriks.reshape(2, 6)
print("Matriks setelah reshape (2, 6):")
print(matriks_reshape)

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [ ]:
# prompt: Pandas
# Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
# Buatlah Pandas Dataframe dari dictionary { "brand": "Ford", "model": "Mustang", "year": 1964 }

import pandas as pd

# 1. Membuat Pandas Series dari list
my_list = ["Information", "Systems", "for", "Business"]
my_series = pd.Series(my_list)
print("Pandas Series:")
print(my_series)

# 2. Membuat Pandas DataFrame dari dictionary
my_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
my_dataframe = pd.DataFrame([my_dict])
print("\nPandas DataFrame:")
(my_dataframe)

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [ ]:
# 3
import pandas as pd
url = 'https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv'
df = pd.read_csv(url)
(df)

In [ ]:
# 4
unique_cities = df['State'].unique()
print("Kota-kota yang ada dalam dataset:", unique_cities)

In [ ]:
# 5
random_sample_df = df.sample(n=10, random_state=42)
print("\n5 row pertama dari dataset random:")
(random_sample_df.head())

In [ ]:
# 6
print("\nInformasi DataFrame:")
(df.info())

In [ ]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nR&D Spend dan Marketing Spend dari kota California:")
(california_data)

In [ ]:
# 8
missing_values = df.isnull().sum()
print("\nMissing value di setiap kolom:")
(missing_values)

In [ ]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print("\nDataFrame setelah menghapus profit di bawah 50000:")
(df_filtered)

In [ ]:
# 10
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)

print("\nDataFrame setelah menghapus profit di bawah 50000 dan diurutkan berdasarkan Marketing Spend:")
(df_sorted)

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [ ]:
# 1
import pandas as pd

# 1. Mengimpor dataset ke dalam DataFrame
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
df = pd.read_csv(url)
(df)

In [ ]:
# 2
random_data = df.sample(n=10, random_state=42)
print("10 Data random dari dataset:")
(random_data)

In [ ]:
# 3
print("\nInformasi deskriptif dari dataset:")
(df.describe())

In [ ]:
# 4
df = df.drop(columns=['No'])
df.columns = [
    'transaction date',
    'house age',
    'distance to the nearest MRT station',
    'number of convenience stores',
    'latitude',
    'longitude',
    'house price of unit area']

df.head()

In [ ]:
# 5
missing_values = df.isnull().sum()
print("\nMissing values di setiap kolom:")

(missing_values)

## **Goodluck :)**